QWidget {   
    background-color: rgb(50, 50, 50);
    color: white;
}

QCalendarWidget QWidget {
    alternate-background-color: rgb(60, 60, 60); 
    color: white; 
}

QComboBox QAbstractItemView {
    background-color: rgb(40, 40, 40);
}