QWidget {  
    background-color: rgb(217, 217, 217);
    color: black;
}

QCalendarWidget QWidget {
    alternate-background-color: rgb(200, 200, 200); 
}

QComboBox QAbstractItemView {
    background-color: rgb(240, 240, 240);
}

